:root {
  /* Primary colors */
  --purple: #3f51b5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

.container {
  margin: 0 auto;
  text-align: center;
}

.container h3 {
  margin-top: 20px;
  color: #ff0000;
}

.green {
  color: #008000 !important;
}

/* Home */

.showcase {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 565px;
  background: #eaedff;
}

.tagline {
  width: 390px;
  padding: 15px;
  border: 1px solid var(--purple);
}

.tagline h1 {
  margin: 15px 0;
}

.link {
  text-decoration: none;
  color: #ffffff;
}

.btn {
  padding: 10px 70px;
  background: var(--purple);
  color: #ffffff;
}

.btn:hover {
  background: #eaedff;
  border: 1px solid var(--purple);
  color: var(--purple);
}

/* Footer */

footer {
  background: var(--purple);
  color: #ffffff;
  text-align: center;
}

footer p {
  padding: 10px;
}

/* Pagination */

.pgn {
  width: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
}

/* Ticket */

.ticket {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #3f51b5;
  padding: 2px;
  margin: 5px;
}

.center {
  margin: 5px auto;
}

/* Navbar */

.white {
  color: white;
}

/* PokerboardInfo */

.pokerboardInfo {
  width: 700px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #3f51b5;
  padding: 2px;
  margin: 5px;
}

/* Char container */

.chart-container {
  width: 600px;
  height: 800px;
  margin: 20px auto;
}

/* delete-ticket-options */

.delete-ticket-options {
  display: flex;
  justify-content: flex-end;
}
